# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

# Editors
.idea
*.iml

# OS metadata
.DS_Store
Thumbs.db

/lib
/node_modules
